<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.cloud.docker.dao.CityRepository">

    <select id="search" parameterType="java.lang.String" resultType="com.cloud.docker.model.City">
      select * from city where name like concat('%',#{cityName},'%')
    </select>

    <update id="editCity" parameterType="com.cloud.docker.model.City">
        update city set population=#{population},district=#{district} where id=#{id}
    </update>

    <select id="findCityById" parameterType="java.lang.Long" resultType="com.cloud.docker.model.City">
        select * from city where id=#{id}
    </select>

    <select id="findAll" resultType="com.cloud.docker.model.City">
        select * from city
    </select>
</mapper>